.tg  {
    border-collapse: collapse;
    border-spacing: 0;
  }
.tg td{
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 10px;
    word-break: normal;
  }
.tg th{
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 10px;
    word-break: normal;
  }
.tg .tg-head{
    background-color: #303030;
    border-color: inherit;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
  }
.tg .tg-cell{
    background-color: #1F1F1F;
    border-color: inherit;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
  }
body {
    background-color: #1F1F1F;
    color: #eeeeee;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
h1 {
    text-align: center;
  }
h2,h3,h4,h5,h6 {
    text-decoration: underline;
  }
a custom:link {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
  }
a custom:visited {
    color: violet;
    background-color: transparent;
    text-decoration: none;
  }
a custom:hover {
    color: fuchsia;
    background-color: transparent;
    text-decoration: none;
  }
a custom:active {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
